version: '3.8'

services:
  user_agent:
    build: 
      context: ./user_agent
      dockerfile: DOCKERFILE
    environment:
      VITE_CLIENT_BASE_URL: "http://localhost:5000"
    ports:
      - 5173:80
    networks:
      - local_network
    container_name: user_agent
    depends_on:
      - client

  client: 
    build: 
      context: ./client
      dockerfile: DOCKERFILE
    environment:
      KEYCLOAK_BASE_URL: "http://auth_server:7080"
      REDIRECT_URI: "http://localhost:5173/callback"
    container_name: client
    ports:
      - 5000:5000
    networks:
      - local_network
    depends_on:
      - auth_server
  
  auth_server:
    image: quay.io/keycloak/keycloak:24.0
    container_name: auth_server
    environment:
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: 7080
      KC_HOSTNAME_STRICT_BACKCHANNEL: "true"
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HEALTH_ENABLED: "true"
      KC_LOG_LEVEL: info
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7080/health/ready"]
      interval: 15s
      timeout: 2s
      retries: 15
    command: ["start-dev", "--http-port", "7080", "--https-port", "7443", "--import-realm"]
    volumes:
      - ./auth_server/realm-config.json:/opt/keycloak/data/import/myrealm.json
    ports:
      - "7080:7080"
      - "7443:7443"
    networks:
      - local_network

networks:
  local_network:
    driver: bridge